extends ../layout/_layout

block title 
    | Konsturcts

block content 
    main.page__main

        //- Header
        include ../modules/_header
        //- Header end

        //- Nav 
        include ../modules/_nav
        //- Nav end

        .container
            .wrap
                //- Content
                section.news
                    h2.news__name in recent news

                    //- Post Software
                    article.news__post.post
                        .post__top
                            span.post__name Software
                            h3.post__title
                                a(href="javasript:void(0);")
                                    | DeltaMaker – The new kid on the block An Elegant 3D Printer and 
                                    | a new wicked ass thing
                        .post__pic
                            img(src="images/content/posts/post-1.png", alt="post pic")
                        .post__cont
                            p
                                | Products were inspired by Behance's research of 
                                | especially productive teams in the creative industry. 
                                | Hundreds of individuals and teams were interviewed, 
                                | and Behance chronicled the work habits 
                                | and best practices of creative leaders. 
                            p
                                | The paper products were initially designed by and 
                                | for the Behance team as a way to stay organized. 
                                | In 2007, at the insistence of friends who 
                                | wanted Action Pads of their own...
                    //- Post Software end

                    //- Post Printers
                    article.posts__post.post
                        .post__top
                            span.post__name Printers
                            h3.post__title 
                                a(href="javasript:void(0);")
                                    | Nokia offering customers printable STL phone cases 
                                    | for the Lumia 820 and things
                        .post__pic
                            img(src="images/content/posts/post-2.png", alt="post pic")
                        .post__cont
                            p
                                | This week Nokia announced it is giving away files for printable 
                                | case for it’s new Lumia 820 range. 
                                | This week Nokia a files for printable case 
                                | for it’s new Lumia 820 range. This week Nokia announced it is 
                                | giving away files for printable case for it’s new Lumia 820 range. 
                                | This week Nokia announced it is giving away 
                                | files for printable case for it’s new Lumia 820 range. 
                    //- Post Printers end
                //- Content end

                //- Sidebar
                aside.sidebar                    
                    
                    //- Popular
                    section.popular
                        h3.popular__name Popular

                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | DeltaMaker – The new kid on the 
                                    | block An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 2 Days Ago

                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | Software Review: 
                                    | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago

                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | DeltaMaker – The new kid on the 
                                    | block An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 2 Days Ago

                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | Software Review: 
                                    | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago
                    //- Popular end
                    
                    //- edtiors
                    section.editors
                        h3.editors__name Editors Pick
                            
                        articles.editors__editor
                            .editors__row
                                .editors__col
                                    .editors__pic
                                        img(src="images/content/editors/Layer-1.png", alt="editor picture")
                                .editors__col.editors__col_flex_2
                                    .editors__cont
                                        h4 
                                            a(href="javascript:void(0);") 
                                                | MarkerBot Announces the ‘Replicator 2x’ For the Experimental
                                        p.editors__date 2 Days Ago
                        
                        articles.editors__editor
                            .editors__row
                                .editors__col
                                    .editors__pic
                                        img(src="images/content/editors/Layer-2.png", alt="editor picture")
                                .editors__col.editors__col_flex_2
                                    .editors__cont
                                        h4 
                                            a(href="javascript:void(0);")
                                                | 3D Printed Record – the next revolution?
                                        p.editors__date 2 Days Ago

                        articles.editors__editor
                            .editors__row
                                .editors__col
                                    .editors__pic
                                        img(src="images/content/editors/Layer-3.png", alt="editor picture")
                                .editors__col.editors__col_flex_2
                                    .editors__cont
                                        h4 
                                            a(href="javascript:void(0);")
                                                | MarkerBot Announces the ‘Replicator 2x’ For the Experimental
                                        p.editors__date 2 Days Ago
                        
                        articles.editors__editor
                            .editors__row
                                .editors__col
                                    .editors__pic
                                        img(src="images/content/editors/Layer-4.png", alt="editor picture")
                                .editors__col.editors__col_flex_2
                                    .editors__cont
                                        h4 
                                            a(href="javascript:void(0);")    
                                                | 3D Printed Record – the next revolution?
                                        p.editors__date 2 Days Ago
                    //- edtiors end

                //- Sidebar end    

            //- Feature section
            section.feat
                .feat__top
                    span.feat__name
                        | Featured news
                    h3.feat__title
                        a(href="javasript:void(0);")
                            | Nokia offiring customers printable STL phone cases 
                            | for the Lumia 820
            //- Feature section end

            .wrap

                //- Content
                section.news
                    .ghost__heading.popular__name
                        h2 in recent news

                    //- Post Software
                    article.news__post.post

                        .post__top
                            span.post__name Software
                            h3.post__title
                                a(href="javasript:void(0);")
                                    | DeltaMaker – The new kid on the block An Elegant 3D Printer and 
                                    | a new wicked ass thing
                        .post__pic
                            img(src="images/content/posts/post-1.png", alt="post pic")
                        .post__cont
                            p
                                | Products were inspired by Behance's research of 
                                | especially productive teams in the creative industry. 
                                | Hundreds of individuals and teams were interviewed, 
                                | and Behance chronicled the work habits 
                                | and best practices of creative leaders. 
                            p
                                | The paper products were initially designed by and 
                                | for the Behance team as a way to stay organized. 
                                | In 2007, at the insistence of friends who 
                                | wanted Action Pads of their own...
                    //- Post Software end
                //- Content end

                //- Sidebar
                aside.sidebar

                    section.popular
                        h3.popular__name Popular
                        
                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | DeltaMaker – The new kid on the 
                                    | block An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 2 Days Ago
                        
                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | Software Review: 
                                    | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago

                        article.popular__post
                            h4.popular__title
                                a(href="javavscript:void(0);")
                                    | Software Review: 
                                    | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago
                //- Sidebar end

                //- Content end
        //- Footer
        include ../modules/_footer
        //- Footer end

