extends ../layout/_layout

block title 
    | Konsturcts

block content 
    main.page__main

        // Header
        include ../modules/_header
        // Header end

        // Nav 
        include ../modules/_nav
        // Nav end
