extends ../layout/_layout

block title 
    | Konsturcts

block content 
    main.page__main

        //- Header
        include ../modules/_header
        //- Header end

        //- Nav 
        include ../modules/_nav
        //- Nav end

        .container
            .wrap
                //- Content
                section.news
                    h2.news__name in recent news

                    //- Post Software
                    article.news__post.post
                        .post__top
                            span.post__name Software
                            h3.post__title
                                | DeltaMaker – The new kid on the block An Elegant 3D Printer and 
                                | a new wicked ass thing
                        .post__pic
                            img(src="images/content/posts/post-1.png", alt="post pic")
                        .post__cont
                            p
                                | Products were inspired by Behance's research of 
                                | especially productive teams in the creative industry. 
                                | Hundreds of individuals and teams were interviewed, 
                                | and Behance chronicled the work habits 
                                | and best practices of creative leaders. 
                            p
                                | The paper products were initially designed by and 
                                | for the Behance team as a way to stay organized. 
                                | In 2007, at the insistence of friends who 
                                | wanted Action Pads of their own...
                    //- Post Software end

                    //- Post Printers
                    article.posts__post.post
                        .post__top
                            span.post__name Printers
                            h3.post__title 
                                | Nokia offering customers printable STL phone cases 
                                | for the Lumia 820 and things
                        .post__pic
                            img(src="images/content/posts/post-2.png", alt="post pic")
                        .post__cont
                            p
                                | This week Nokia announced it is giving away files for printable 
                                | case for it’s new Lumia 820 range. 
                                | This week Nokia a files for printable case 
                                | for it’s new Lumia 820 range. This week Nokia announced it is 
                                | giving away files for printable case for it’s new Lumia 820 range. 
                                | This week Nokia announced it is giving away 
                                | files for printable case for it’s new Lumia 820 range. 
                    //- Post Printers end
                
                //- Sidebar
                aside.popular
                    h2.popular__name Popular
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | DeltaMaker – The new kid on the block 
                                | An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 2 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | Software Review: 
                                | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | DeltaMaker – The new kid on the 
                                | block An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 3 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | Software Review: 
                                | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | 3D Printing, 3D Software
                            p.popular__date 
                                | 3 Days Ago
                //- Sidebar end    

            //- Feature section
            section.feat
                .feat__top
                    span.feat__name
                        | Featured news
                    h3.feat__title
                        | Nokia offiring customers printable STL phone cases 
                        | for the Lumia 820
            //- Feature section end

            .wrap
                section.news
                    .ghost__heading
                        h2 in recent news

                    //- Post Software
                    article.news__post.post
                        .post__top
                            span.post__name Software
                            h3.post__title
                                | DeltaMaker – The new kid on the block An Elegant 3D Printer and 
                                | a new wicked ass thing
                        .post__pic
                            img(src="images/content/posts/post-1.png", alt="post pic")
                        .post__cont
                            p
                                | Products were inspired by Behance's research of 
                                | especially productive teams in the creative industry. 
                                | Hundreds of individuals and teams were interviewed, 
                                | and Behance chronicled the work habits 
                                | and best practices of creative leaders. 
                            p
                                | The paper products were initially designed by and 
                                | for the Behance team as a way to stay organized. 
                                | In 2007, at the insistence of friends who 
                                | wanted Action Pads of their own...
                    //- Post Software end

                aside.popuplar
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | DeltaMaker – The new kid on the block 
                                | An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 2 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | Software Review: 
                                | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 3 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | DeltaMaker – The new kid on the 
                                | block An Elegant 3D Printer
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 3 Days Ago
                    article.popular__post
                        a(href="javavscript:void(0);").popular__link
                            h3.popular__title
                                | Software Review: 
                                | Autodesk Inventor Fusion for Mac
                            p.popular__desc 
                                | A new cheap ass 3D Printer worth checking out
                            p.popular__date 
                                | 3 Days Ago

                //- Content end
        //- Footer
        include ../modules/_footer
        //- Footer end

