@font-face
    font-family georgiai
    src url( 'fonts/georgiai.woff' ),
        url( 'fonts/georgiai.woff2' ) 

@font-face
    font-family helveticaneuecyr-bold
    src url( 'fonts/helveticaneuecyr-bold-webfont.woff' ),
        url( 'fonts/helveticaneuecyr-bold-webfont.woff2' ) 

@font-face
    font-family helveticaneuecyr-roman
    src url( 'fonts/helveticaneuecyr-roman-webfont.woff' ),
        url( 'fonts/helveticaneuecyr-roman-webfont.woff2' ) 

@font-face
    font-family timesi
    src url( 'fonts/timesi-webfont.woff' ),
        url( 'fonts/timesi-webfont.woff2' ) 

@font-face
    font-family times
    src url( 'fonts/times-webfont.woff' ),
        url( 'fonts/times-webfont.woff2' ) 

@font-face
    font-family tungstennarrow-medium
    src url( 'fonts/tungstennarrow-medium.woff' ),
        url( 'fonts/tungstennarrow-medium.woff2' ) 