
// Color
primaryBlack = #282828
primaryLightGrey = #f4f4f4
primaryGrey = #f4f4f4
primaryCyan = #1ac7c3
borderColor = #e6e6e6

// Fonts
baseFont = timesi, sans-serif, arial
baseSecondFont = times, sans-serif, arial
titleFont = tungstennarrow-medium, sans-serif, arial
navLinkFont = georgiai, sans-serif, arial
footerTitleFont = helveticaneuecyr-bold, sans-serif, arial
footerLinkFont = helveticaneuecyr-roman, sans-serif, arial

