doctype

html(lang="en")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
    title 
        block title
    meta(name="description", content="Konsturcts landing page. Free templates")
    link(rel="stylesheet", href="libs/normalize.css")
    link(rel="stylesheet", href="styles.min.css")
    body.page
        block content

        script(src="libs/jquery.min.js")
        script(src="common.min.js")  