.footer
    margin-top 19px
    background-color primaryBlack
.footer__inner
    display: flex
    justify-content space-between
    padding 86px 60px 142px 60px
.footer__list
    footerColorText = #737c85
    
    flex 1
    h3
        margin-bottom 21px
        font 14px / 1 footerTitleFont
        color footerColorText
    li
        &:not(:last-child)
            margin-bottom 11px
    a
        font: 14px / 1 footerLinkFont
        color footerColorText
        &:hover
            color #fff