.header
    background-color primaryBlack
.header__inner
    display flex
    padding 2.5rem 0 1.125rem 0
    @media screen and (orientation portrait) and (max-width 800px)
        justify-content space-between
.header__logo
    @media screen and (orientation portrait) and (max-width 800px)
        flex 1
.header__nav
    flex 2
    @media screen and (orientation portrait) and (max-width 800px)
        flex 1
    ul
        padding-top .1875rem
    li
        position: relative
        display inline-block
        &:not(:last-child)
            margin-right 3.25rem
        &:hover
            &::after
                position absolute
                bottom -2.85rem    
                display block
                width 100%
                height 2rem
                background-color primaryCyan
                content ''
    a
        display inline-block
        font: 2.375em / 1 titleFont
        text-transform uppercase
        color #fff
.header__other
    padding-right .5rem
    @media screen and (orientation portrait) and (max-width 800px)
        display none
    ul
        padding-top .25rem
    li
        display inline-block
        &:not(:last-child)
            margin-right 2.125rem
    a
        font-size .875em
        color primaryLightGrey
        &:hover
            color primaryCyan