.header
    background-color primaryBlack
.header__inner
    display flex
    padding 2.5rem 0 1.125rem 0
    @media (orientation portrait) and (max-width 800px)
        justify-content space-between
    @media (orientation landscape) and (max-width 800px)
        justify-content space-between
.header__logo
    @media (orientation portrait) and (max-width 800px)
        flex 1
    @media (orientation landscape) and (max-width 800px) 
        flex 1
.header__nav
    flex 2
    @media (orientation portrait) and (max-width 800px)
        flex 1
    @media (orientation landscape) and (max-width 800px)
        flex 1
    /* 
        Отключим элемент позже разберемся, что следать
    */
    @media (orientation portrait) and (max-width 580px)
        display none 
    @media (orientation landscape) and (max-width 580px)
        display none
    ul
        padding-top .1875rem
    li
        position: relative
        display inline-block
        &:not(:last-child)
            margin-right 3.25rem
            @media (orientation landscape) and (max-width 720px)
                margin-right 2.5rem
        &:hover
            &::after
                position absolute
                bottom -2.85rem    
                display block
                width 100%
                height 2rem
                background-color primaryCyan
                content ''
    a
        display inline-block
        font: 2.375em / 1 titleFont
        text-transform uppercase
        color #fff
        @media (orientation landscape) and (max-width 720px)
            font-size 2em
.header__other
    padding-right .5rem
    @media (orientation portrait) and (max-width 800px)
        display none
    @media (orientation landscape) and (max-width 800px)
        display none
    ul
        padding-top .25rem
    li
        display inline-block
        &:not(:last-child)
            margin-right 2.125rem
    a
        font-size .875em
        color primaryLightGrey
        &:hover
            color primaryCyan
.header__btn
    display none
    padding .7rem
    @media (max-width 580px)
        display block