.nav
    ul
        display flex
        padding 26px 32px
        background-color primaryLightGrey
    li
        &:not(:last-child)
            margin-right 40px
    a
        colorLink = #798184
        
        color colorLink
        &:hover
            color primaryBlack