*
    box-sizing border-box
html 
    font-size: 100%
body 
    padding 0
    font: 16px / 24px baseFont
.container
    width 95%
    max-width 1185px
    margin 0 auto
for $n in (1...6)
    h{$n}
        margin: 0
        line-height 1
ul, li
    margin 0
    padding 0
    list-style none
p
    margin 0
a
    text-decoration none
    color primaryBlack
img 
    display inline-block