.wrap
    display flex
    border-right 1px solid borderColor
    border-left 1px solid borderColor
    border-top 1px solid borderColor
.news
    position relative
    max-width 61%
    padding-right 18px
    border-right 1px solid borderColor
.sidebar
    position relative
    max-width 39%
.news__name
    display: inline-block
    padding 4px 14px
    font 27px / 1 titleFont
    text-transform uppercase
    color #fff
    background-color primaryCyan
.post
    &:not(:first-of-type)
        border-top 1px solid borderColor
.post__name
    font 22px / 1 titleFont
    color primaryCyan
.post__top
    padding 40px 40px 15px 40px 
.post__title
    margin: 13px 0
    font: 46px / 40px titleFont
.post__pic
    height 255px
    overflow hidden
    img 
        width 100%
.post__cont
    textColor = #798184

    padding 20px 40px 50px 40px
    color textColor
    p
        &:not(:last-child)
            margin-bottom 24px
.feat
    min-height 616px
    background primaryGrey url('images/content/feature/Using-the-Form-1.png') no-repeat center / cover
.feat__name 
    display inline-block
    padding 4px 14px
    font 27px / 1 titleFont
    text-transform uppercase
    color #fff 
    background-color primaryBlack
.feat__top
    padding 68px 60px
.feat__title
    max-width: 660px
    padding 18px 0
    font 70px/64px tungstennarrow-medium,sans-serif,arial
    letter-spacing 3px
    color #fff
.popular__name
    @extend .news__name
.ghost__heading
    gostHeading()
.popular
    margin-bottom 28px
    &__name + &__post
        padding 19px 34px 28px 16px
.popular__post
    position relative
    padding 37px 34px 16px 16px
    text-align center
    border-bottom 1px solid borderColor
    &::after
        position absolute
        left 40%
        bottom 0
        width 100px
        height 3px
        background-color borderColor
        content ""
    &:hover
        background-color primaryGrey
.popular__title
    margin-bottom 9px
    & > a
        font: 35px / 1 titleFont
        letter-spacing 1px
        &:hover
            text-decoration underline
.popular__desc
    colorFontText = #798184

    margin-bottom 18px
    font 18px / 1 baseSecondFont
    color colorFontText
.popular__date
    colorFontDate = #cdcdcd
    
    color colorFontDate
.editors__name
    @extend .popular__name
    background-color primaryBlack
.editors__row
    display flex
.editors__pic
    width 160px 
    height 132px
    overflow hidden
    img 
        width 150%
.editors__cont
    padding 0 40px 0 20px
    border-top 1px solid borderColor
    h4 
        position relative
        margin 13px 0
        a
            font: 24px / 34px titleFont
            letter-spacing 1px
            &:hover
                text-decoration underline
        &::after
            position absolute
            bottom -7px 
            z-index 999
            display block
            width 100px
            height 2px
            background-color borderColor
            content ''
.editors__date
    @extend .popular__date