.wrap
    display flex
.news
    position relative
    max-width 59%
.aside
    position relative
    max-width 41%
.news__name
    display: inline-block
    padding 4px 14px
    font 27px / 1 titleFont
    text-transform uppercase
    color #fff
    background-color primaryCyan
.post__name
    font 22px / 1 titleFont
    color primaryCyan
.post__top
    padding 40px 40px 15px 40px 
.post__title
    margin: 13px 0
    font: 46px / 40px titleFont 
    color primaryBlack
.post__pic
    height 255px
    overflow hidden
    img 
        width 100%
.post__cont
    textColor = #798184

    padding 20px 40px 50px 40px
    color textColor
    p
        &:not(:last-child)
            margin-bottom 24px