

//TODO: Пробывать замутить, 
// что то вроде принцыпу постепенного ухудшения 


//TODO: @support ?

.wrap
    display flex
    border-right .0625rem solid borderColor
    border-left .0625rem solid borderColor
    @media (orientation portrait) and (max-width 480px)
        flex-direction column
    @media (orientation landscape) and (max-width 580px)
        flex-direction column
.news
    position relative
    max-width 60.8%
    padding-right 1.125rem
    border-right .0625rem solid borderColor
    @media (orientation portrait) and (max-width 800px)
        padding-right 0
    @media (orientation portrait) and (max-width 480px)
        max-width 100%
        border-right none
    @media (orientation landscape) and (max-width 580px)
        max-width 100%
        border-right none
.news__name
    display: inline-block
    padding .14814815em .5185185252em
    font 1.6875em / 1 titleFont
    text-transform uppercase
    color #fff
    background-color primaryCyan
.post
    &:not(:first-of-type)
        border-top .0625rem solid borderColor
.post__name
    font 1.375em / 1 titleFont
    color primaryCyan
.post__top
    padding 2.6rem 2.5rem .9375rem 2.2rem
    @media (orientation portrait) and (max-width 1024px)
        padding 2.5rem .5rem .9375rem .5rem
    @media (orientation landscape) and (max-width 800px)
        padding 2.5rem 1rem .9375rem 1rem
.post__title
    margin: .28260870em 0
    font-size 2.875em
    @media (orientation portrait) and (max-width 580px)
        margin .2em 0
        font-size 2.7em
    a    
        font: 1em / .86956522em titleFont
        &:hover
            text-decoration underline
.post__pic
    height 15.9375rem
    overflow hidden
    @media (orientation portrait) and (max-width 580px)
        height 12rem
    @media (orientation portrait) and (max-width 480px)
        height 17rem
    img 
        width 100%
.post__cont
    textColor = #798184

    /* 
        Да это не ошибка, используем em так как возможно будем менять размер шрифта в блоке
     */
    padding 1.25em 2.5em 3.125em 2.5em
    color textColor
    @media (orientation portrait) and (max-width 1024px)
        padding 1em 1em 2.5em 1em
    @media (orientation landscape) and (max-width 800px)
        padding 1em 1em 2.5em 1em
    @media (orientation portrait) and (max-width 580px)
        padding 1em .5em 3em .5em
    p
        &:not(:last-child)
            margin-bottom 1.5em
            @media (orientation portrait) and (max-width 1024px)
                margin-bottom 1em

.feat
    min-height 38.5rem
    background primaryGrey url('images/content/feature/Using-the-Form-1.png') no-repeat center / cover
    @media (orientation portrait) and (max-width 580px)
        min-height 25rem
    @media (orientation landscape) and (max-width 580px)
        min-height 30rem
    @media (orientation portrait) and (max-width 480px)
        min-height 33rem
.feat__name 
    display inline-block
    padding .14814815em .5185185252em
    font 1.6875em / 1 titleFont
    text-transform uppercase
    color #fff 
    background-color primaryBlack
.feat__top
    padding 4.25rem 3.75rem
    @media (orientation landscape) and (max-width 800px)
        padding 1em
    @media (orientation portrait) and (max-width 580px)
        padding 1em
.feat__title
    max-width: 9.42857143em
    padding .25714286em 0
    font-size 4.375em // 70px
    @media (orientation portrait) and (max-width 580px)
        font-size 3.5em
    @media (orientation landscape) and (max-width 580px)
        font-size 3.5em
    @media (orientation portrait) and (max-width 375px)
        font-size 2.9em
    a
        font 1em / .91428571em tungstennarrow-medium,sans-serif,arial
        letter-spacing .04285714em
        color #fff
        &:hover
            text-decoration underline