footer.footer
    .container
        .footer__row
            .footer__col
                h3 Other pages and things
                ul.footer__list.footer__pages
                    li
                        a(href="javascript:void(0);") Design a creative Blog
                    li
                        a(href="javascript:void(0);") Design a iPad Website
                    li
                        a(href="javascript:void(0);") Single Page sales portfolio 
                    li
                        a(href="javascript:void(0);") Flat product website in Photoshop
                    li
                        a(href="javascript:void(0);") Design a creative Blog
                    li
                        a(href="javascript:void(0);") Design a iPad Website
                    li
                        a(href="javascript:void(0);") Single Page sales portfolio 
            .footer__col    
                h3 Relevant Articles
                ul.footer__list.footer__articles
                    li
                        a(href="javascript:void(0);") Design a creative Blog
                    li
                        a(href="javascript:void(0);") Design a iPad Website
                    li
                        a(href="javascript:void(0);") Single Page sales portfolio 
                    li
                        a(href="javascript:void(0);") Flat product website 
                    li
                        a(href="javascript:void(0);") Design a creative Blog
                    li
                        a(href="javascript:void(0);") Design a iPad Website
            .footer__col
                h3 Designers
                ul.footer__list.footer__design
                    li
                        a(href="javascript:void(0);") Blaz Robar
                    li
                        a(href="javascript:void(0);") Nick Toranto
                    li
                        a(href="javascript:void(0);") Joisp Kelava