footer.footer
    .container
        .footer__inner
            ul.footer__list.footer__pages
                h3 Other pages and things
                li
                    a(href="javascript:void(0);") Design a creative Blog
                li
                    a(href="javascript:void(0);") Design a iPad Website
                li
                    a(href="javascript:void(0);") Single Page sales portfolio 
                li
                    a(href="javascript:void(0);") Flat product website in Photoshop
                li
                    a(href="javascript:void(0);") Design a creative Blog
                li
                    a(href="javascript:void(0);") Design a iPad Website
                li
                    a(href="javascript:void(0);") Single Page sales portfolio 
            ul.footer__list.footer__articles
                h3 Relevant Articles
                li
                    a(href="javascript:void(0);") Design a creative Blog
                li
                    a(href="javascript:void(0);") Design a iPad Website
                li
                    a(href="javascript:void(0);") Single Page sales portfolio 
                li
                    a(href="javascript:void(0);") Flat product website 
                li
                    a(href="javascript:void(0);") Design a creative Blog
                li
                    a(href="javascript:void(0);") Design a iPad Website
            ul.footer__list.footer__design
                h3 Designers
                li
                    a(href="javascript:void(0);") Blaz Robar
                li
                    a(href="javascript:void(0);") Nick Toranto
                li
                    a(href="javascript:void(0);") Joisp Kelava