header.header

    .container        
        .header__inner
            // Logo
            .header__logo
                h2.logo 
                    a(href="javascript:void(0);") Konstructs
            // Logo end

            // Header nav
            .header__nav
                ul
                    li
                        a(href="javascipt:void(0);") Articles
                    li
                        a(href="javascipt:void(0);") 3d Printers
                    li
                        a(href="javascipt:void(0);") Tutorials
            // Header nav end

            // Header other
            .header__other
                ul
                    li
                        a(href="javascript:void(0);") Advertise
                    li
                        a(href="javascript:void(0);") About us 
                    li
                        a(href="javascript:void(0);") Contact Us
            // Header other end