nav.nav#menu
    
    .container
        ul

            li
                a(href="javascript:void(0);") Article Types

            li
                a(href="javascript:void(0);") 3D Printing

            li
                a(href="javascript:void(0);") Materials
            
            li
                a(href="javascript:void(0);") Printing

            li
                a(href="javascript:void(0);") Files to Print

            li
                a(href="javascript:void(0);") Videos

            li
                a(href="javascript:void(0);") About

    button(type="button").btn__menu.btn__menu_type_close Close
        //- span
        //- span